PORT=3789

DATABASE_URL=postgres://user:password@host:port/database
REDIS_URL=redis://user:password@host:port/0

JWT_SECRET=your_jwt_secret

VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
